body, html {
    margin: 0px;
    height: 100vh;
    font-family: sans-serif;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
}

* {
    outline: 1px solid magenta;
    outline: none;
}