.main {
  background: url('../public/background-images/backgroundMountain.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0px;
  object-fit: cover;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.h1 {
  width: 280px;
}

.hr {
  width: 300px;
  border: solid 2px var(--secondary-color);
}

.button {
  background-color: transparent;
  border: var(--primary-color) solid 2px;
  padding: 5px;
  border-radius: 10px;
  color: var(--primary-color);
}

.content__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.text__container {
  width: 450px;
}