.main {
  background: url('../public/background-images/backgroundMountain.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0px;
  object-fit: cover;
}

.h1 {
  margin: 0px;
}

.hr {
  width: 300px;
  border: solid 2px var(--secondary-color);
}

.button {
  background-color: transparent;
  border: var(--primary-color) solid 2px;
  padding: 5px;
  border-radius: 10px;
  color: var(--primary-color);
}

.text__container {
  width: 450px;
}